* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.message-list {
  border: 1px solid lightgray;
  overflow: auto;
  width: 800px;
  height: 400px;
  margin: 50px auto 25px;
  list-style-type: none;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px
}

.message-list li {
  max-width: 70%;
  text-align: left;
  background-color: lightblue;
  padding: 25px;
  border-radius: 40px;
  word-wrap: break-word;
}

.message-list .my-message {
  align-self: flex-end;
  background-color: lightgreen;
}

.App button {
  cursor: pointer;
}

.App .loading:disabled {
  cursor: default;
  opacity: .8;
}

.scroll-btn {
  position: relative;
  right: -330px;
  bottom: 60px;
  border: none;
  border-radius: 50%;
  padding: 20px;
  background-color: tomato;
  color: white;
}

form {
  position: relative;
  width: 800px;
  margin: auto;
}

form input {
  width: 100%;
  padding: 10px 50px 10px 10px;
}

form button {
  position: absolute;
  top: 50%;
  transform:translate(-102%, -51%);
  background-color: lightgray;
  border: none;
  padding: 11px;
}